@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* HOMEPAGE */
#hero-container {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 67vh;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("./assets/Boston.webp");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 52.04%,
    1% 52.03%,
    2% 52.01%,
    3% 51.97%,
    4% 51.91%,
    5% 51.84%,
    6% 51.76%,
    7% 51.66%,
    8% 51.55%,
    9% 51.42%,
    10% 51.28%,
    11% 51.13%,
    12% 50.96%,
    13% 50.78%,
    14% 50.58%,
    15% 50.38%,
    16% 50.16%,
    17% 49.93%,
    18% 49.69%,
    19% 49.44%,
    20% 49.18%,
    21% 48.92%,
    22% 48.64%,
    23% 48.36%,
    24% 48.07%,
    25% 47.77%,
    26% 47.47%,
    27% 47.16%,
    28% 46.85%,
    29% 46.53%,
    30% 46.21%,
    31% 45.89%,
    32% 45.57%,
    33% 45.24%,
    34% 44.92%,
    35% 44.6%,
    36% 44.28%,
    37% 43.96%,
    38% 43.64%,
    39% 43.33%,
    40% 43.02%,
    41% 42.72%,
    42% 42.42%,
    43% 42.13%,
    44% 41.85%,
    45% 41.57%,
    46% 41.31%,
    47% 41.05%,
    48% 40.8%,
    49% 40.56%,
    50% 40.33%,
    51% 40.12%,
    52% 39.91%,
    53% 39.72%,
    54% 39.54%,
    55% 39.37%,
    56% 39.21%,
    57% 39.07%,
    58% 38.94%,
    59% 38.83%,
    60% 38.73%,
    61% 38.65%,
    62% 38.58%,
    63% 38.53%,
    64% 38.49%,
    65% 38.47%,
    66% 38.46%,
    67% 38.47%,
    68% 38.49%,
    69% 38.53%,
    70% 38.59%,
    71% 38.66%,
    72% 38.74%,
    73% 38.84%,
    74% 38.95%,
    75% 39.08%,
    76% 39.22%,
    77% 39.38%,
    78% 39.54%,
    79% 39.73%,
    80% 39.92%,
    81% 40.13%,
    82% 40.34%,
    83% 40.57%,
    84% 40.81%,
    85% 41.06%,
    86% 41.32%,
    87% 41.59%,
    88% 41.87%,
    89% 42.15%,
    90% 42.44%,
    91% 42.74%,
    92% 43.04%,
    93% 43.35%,
    94% 43.66%,
    95% 43.98%,
    96% 44.3%,
    97% 44.62%,
    98% 44.94%,
    99% 45.26%,
    100% 45.58%
  );
}

#overlapping-wave {
  position: absolute;
  text-align: center;
  padding-top: 1em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 67vh;
  height: 90vh;
  z-index: 1;
  background-color: rgba(54, 41, 88, 0.5);
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 52.04%,
    1% 52.03%,
    2% 52.01%,
    3% 51.97%,
    4% 51.91%,
    5% 51.84%,
    6% 51.76%,
    7% 51.66%,
    8% 51.55%,
    9% 51.42%,
    10% 51.28%,
    11% 51.13%,
    12% 50.96%,
    13% 50.78%,
    14% 50.58%,
    15% 50.38%,
    16% 50.16%,
    17% 49.93%,
    18% 49.69%,
    19% 49.44%,
    20% 49.18%,
    21% 48.92%,
    22% 48.64%,
    23% 48.36%,
    24% 48.07%,
    25% 47.77%,
    26% 47.47%,
    27% 47.16%,
    28% 46.85%,
    29% 46.53%,
    30% 46.21%,
    31% 45.89%,
    32% 45.57%,
    33% 45.24%,
    34% 44.92%,
    35% 44.6%,
    36% 44.28%,
    37% 43.96%,
    38% 43.64%,
    39% 43.33%,
    40% 43.02%,
    41% 42.72%,
    42% 42.42%,
    43% 42.13%,
    44% 41.85%,
    45% 41.57%,
    46% 41.31%,
    47% 41.05%,
    48% 40.8%,
    49% 40.56%,
    50% 40.33%,
    51% 40.12%,
    52% 39.91%,
    53% 39.72%,
    54% 39.54%,
    55% 39.37%,
    56% 39.21%,
    57% 39.07%,
    58% 38.94%,
    59% 38.83%,
    60% 38.73%,
    61% 38.65%,
    62% 38.58%,
    63% 38.53%,
    64% 38.49%,
    65% 38.47%,
    66% 38.46%,
    67% 38.47%,
    68% 38.49%,
    69% 38.53%,
    70% 38.59%,
    71% 38.66%,
    72% 38.74%,
    73% 38.84%,
    74% 38.95%,
    75% 39.08%,
    76% 39.22%,
    77% 39.38%,
    78% 39.54%,
    79% 39.73%,
    80% 39.92%,
    81% 40.13%,
    82% 40.34%,
    83% 40.57%,
    84% 40.81%,
    85% 41.06%,
    86% 41.32%,
    87% 41.59%,
    88% 41.87%,
    89% 42.15%,
    90% 42.44%,
    91% 42.74%,
    92% 43.04%,
    93% 43.35%,
    94% 43.66%,
    95% 43.98%,
    96% 44.3%,
    97% 44.62%,
    98% 44.94%,
    99% 45.26%,
    100% 45.58%
  );
}

#homepage-container {
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

/* IMAGES */
.homepage-image {
  max-width: 100%;
  height: auto;
  scale: 0.8;
  opacity: 0;
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: contain;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}

/* LINKS */
.link-component {
  color: #ed1e24;
  font-size: 1.25rem;
  text-decoration: none;
  margin: 0 0 25px;
  font-weight: 400;
}

/* REQUEST QUOTE BOX */
#request-quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6% 5%;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  width: 85%;
  max-width: 1160px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
}

/* TRANSPARENT BOX */
#transparent-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 40px 10px;
  height: 300px;
  max-width: 690px;
}
